 {% extends './partials/base.html' %}
{% block content %}
    <div class="row" style="min-height: 80vh; width: 100%" >
        <div class="col-md-6 offset-md-3">
            <fieldset class="mt-4">
                <legend class="mb-3"></legend>
                <form method="post" class="mt-4">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Войти</button>
                </form>
            </fieldset>
        </div>
    </div>

{% endblock %}